.serverbar {
    width: 5rem;
    height: 100%;
    background: var(--background-color);
    user-select: none;
    z-index: 3;
}

.server-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 0.5rem;
}

.server {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: .5rem;
    cursor: pointer;
    z-index: 99;
}

.server.first-server {
    margin-top: -.6rem;
}

.server:first-child {
    margin-top: 0;
}

.server:hover .server-image {
    border-radius: 30%;
}

.server-image {
    width: 3.4rem;
    height: 3.4rem;
    overflow: hidden;
    border-radius: 100%;
    transition: all .25s ease;
}

.server-image img {
    width: 100%;
}

.server .serverName {
    position: absolute;
    top: .5rem;
    left: 4.5rem;
    padding: .4rem .7rem;
    width: fit-content;
    border-radius: 6px;
    background-color: black;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    visibility: hidden;
    white-space: pre;
}

.server:hover .serverName {
    visibility: visible;
    z-index: 99 !important;
}

.server .serverName::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.server .addServer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #23A559;
    border: 1px solid #23A559;
}

.server .addServer:hover {
   color: #ffffff;
   background-color: #23A559; 
}

hr {
    margin: 0.4rem 0 0 0 !important;
    width: 40%;
    height: 2.5px;
    border: 0;
    background: #807e7e;
}