textarea {
    width: 80%;
    height: 100%;
    padding-bottom: 11px;
    padding-top: 11px;
    resize: none;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    appearance: none;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    height: 44px;
    min-height: 44px;
}