.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: #b9bbbe;
  width: 25%;
  height: 100%;
  padding: 4rem 0 0 9rem;
  overflow: hidden;
}

.sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar nav ul li {
  display: block;
  margin-right: 0.5rem;
  padding: 0.2rem;
  color: #b9bbbe;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sidebar nav ul li:hover {
  background-color: #40444b;
}

.selected {
  color: #fff;
  background-color: #40444b;
}